@import './tailwind.css';
@import "./theme.css";
@import "./base.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Archivo Narrow", sans-serif;
  color: var(--black);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}